<div class="row align-items-center mb-2">
    <div class="col-md-3">
        <b>{{label}}</b>
    </div>
    <div class="col-md-6">
        <div *ngIf="!isEditable">
            {{value}}
            <button type="button" (click)="edit()" class="btn btn-sm btn-success mx-2">Edit</button>
        </div>
        <div *ngIf="isEditable" class="input-space">
            <select (change)="processChanges($event)">
                <option *ngFor="let tempOption of options"
                        [selected]="tempOption === value">
                    {{tempOption}}
                </option>
            </select>
        </div>
    </div>
</div>