
<div class="page-wrapper">

  <!-- HEADER SECTION -->

  <div class="header-desktop">
    <div class="section-content section-content-p30">
      
        <div class="header-wrap">
          <img src="assets/images/stub.png">
          <img src="assets/images/logo1.png" class="img-responsive logo1">
          <img src="assets/images/logo2.png" class="img-responsive logo2">
          
          <div class="nav-bar">
            <ul>
              <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
              <li><a routerLink="/owners" routerLinkActive="active-link">Owners</a></li>
              <li><a routerLink="/vets" routerLinkActive="active-link">Vets</a></li>
            </ul>
          </div>
        
      </div>
    </div>
  </div>



  <!-- MAIN CONTENT -->
  <router-outlet></router-outlet>
</div>

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>


