.logo1 {
    width: auto;
}

.logo2 {
    width:auto;
}

.page-wrapper {
    overflow:hidden;
    background:#cce7d1;
    padding-bottom:8vh;
    min-width: 600px;
}

.header-desktop{
    background:#29a819;
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:73px;
    z-index:3
}

.header-wrap{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:start;
    -webkit-justify-content:start;
    -moz-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    overflow: hidden;
}

.main-content{
    padding-top:95px;
    min-height:100vh;
    font-size: 20px;
}

.section-content{
    position:static;
    margin:0 auto;
    z-index:1
}

.section-content-p30{
    padding:0 30px
}

.btn-submit{
    position:relative;
    right:10px;
    min-width:auto;
    color:#fff;
    border:1px solid #29a819;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding: 10px 15px;
    background:#29a819;
    white-space: nowrap;
}

.alert-cell{
    background:#f55664;
}

.actions{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content: center;
    margin-bottom: 20px;
}

.actions input[type=text]{
    min-width: 200px;
    width: 600px;
    outline:0;
    padding:10px;
    border:1px solid #ccc;
    border-radius:10px;
    margin-right: 5px;
}


.actions button{
    margin-left: 30px;
}

.input-space input[type=text]{
    width:100%;
    height:40px;
    border-radius:30px;
    outline:0;
    padding:10px;
    border:1px solid #ccc
}
.input-space select{
    width:100%;
    height:40px;
    border-radius:30px;
    outline:0;
    padding:0 10px;
    border:1px solid #ccc
}

.form-area{
    max-width: 850px;
    background:#abcca2;
    position:relative;
    margin-bottom:45px;
    padding:50px 20px;
    border:3px solid #82a079
}

.info-area{
    max-width: 1000px;
    background:#abcca2;
    border:3px solid #82a079;
    padding:50px 20px;
}
.info-area button{
    display: inline-block ;
}

.nav-bar{
    position: relative;
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #29a819;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.nav-bar li{
    color: white;
    display: inline;
}

.nav-bar li a {
    height: 200px;
    min-height: 200px;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
  }

.nav-bar li a:hover {
    background-color: #135c0a;
    color: white;
    cursor: pointer;
  }

  .nav-bar li a:visited {
    color: white;
  }

.active-link {
    background-color: #135c0a;
}


/* Footer */

footer ul li a{
    color:#fff
}
footer{
    background:#232324;
    z-index:1;
    position:relative;
    text-align:center
}
footer li a{
    color:#313131;
    font-weight:500
}
footer ul li{
    display:inline-block;
    font-size:14px;
    padding:10px 20px
}

@media (max-width: 1300px) and (min-width: 1050px) {
    .logo1{
        display: none;
    }
}

@media (max-width: 1050px) {
    .logo2{
        display: none;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
