<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="actions">
            <!-- Search -->
            <input #SearchArea type="text" placeholder="Search owners" (keyup.enter)="doSearch(SearchArea.value)">
            <button class="btn-submit" (click)="doSearch(SearchArea.value)">Search</button>
            <!-- Add New Owner -->
            <button class="btn-submit" routerLink="/add-owner">Add Owner</button>
        </div>
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
            <tr *ngFor="let tempOwner of owners">
                <td>
                    <button routerLink="/owners/{{tempOwner.id}}" class="btn btn-sm btn-success bg-success">info</button>
                </td>
                <td>{{tempOwner.firstName}}</td>
                <td>{{tempOwner.lastName}}</td>
                <td>{{tempOwner.phoneNumber | phone}}</td>
                <td>{{tempOwner.email}}</td>
            </tr>
        </table>
    </div>
</div>
